<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>中国银行</string>
		<key>logo</key>
		<string>bank_zhongguo</string>
	</dict>
	<dict>
		<key>title</key>
		<string>农业银行</string>
		<key>logo</key>
		<string>bank_nongye</string>
	</dict>
	<dict>
		<key>title</key>
		<string>工商银行</string>
		<key>logo</key>
		<string>bank_gong</string>
	</dict>
	<dict>
		<key>title</key>
		<string>建设银行</string>
		<key>logo</key>
		<string>bank_jianshe</string>
	</dict>
	<dict>
		<key>title</key>
		<string>招商银行</string>
		<key>logo</key>
		<string>bank_zhaoshang</string>
	</dict>
	<dict>
		<key>title</key>
		<string>邮政银行</string>
		<key>logo</key>
		<string>bank_youzheng</string>
	</dict>
	<dict>
		<key>title</key>
		<string>平安银行</string>
		<key>logo</key>
		<string>bank_pingan</string>
	</dict>
	<dict>
		<key>title</key>
		<string>广发银行</string>
		<key>logo</key>
		<string>bank_guangfa</string>
	</dict>
	<dict>
		<key>title</key>
		<string>中信银行</string>
		<key>logo</key>
		<string>bank_zhongxin</string>
	</dict>
	<dict>
		<key>title</key>
		<string>交通银行</string>
		<key>logo</key>
		<string>bank_jiaotong</string>
	</dict>
	<dict>
		<key>title</key>
		<string>光大银行</string>
		<key>logo</key>
		<string>bank_guangda</string>
	</dict>
	<dict>
		<key>title</key>
		<string>民生银行</string>
		<key>logo</key>
		<string>bank_minsheng</string>
	</dict>
	<dict>
		<key>title</key>
		<string>华夏银行</string>
		<key>logo</key>
		<string>bank_huaxia</string>
	</dict>
	<dict>
		<key>title</key>
		<string>浦发银行</string>
		<key>logo</key>
		<string>bank_pufa</string>
	</dict>
	<dict>
		<key>title</key>
		<string>兴业银行</string>
		<key>logo</key>
		<string>bank_xingye</string>
	</dict>
	<dict>
		<key>title</key>
		<string>北京银行</string>
		<key>logo</key>
		<string>bank_beijing</string>
	</dict>
	<dict>
		<key>title</key>
		<string>南京银行</string>
		<key>logo</key>
		<string>bank_nanjing</string>
	</dict>
</array>
</plist>
